/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background: linear-gradient(rgb(58, 132, 170), rgb(57, 21, 97), rgb(7, 44, 87));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
main {
    display: flex;
    flex-direction: row;
  }
  
  #forecast-container {
    display:flexbox;
    flex-direction: row;
    
  }

div {
    background-color: rgb(21, 30, 85);
    padding: 0;
    border: 1x;
    margin: 0px;
    border-radius: 0;
    border-style: solid;
    box-shadow: 24px;
    border-color: lightblue;
  
} 

 h1 {
  
    top: 0;
    align-content: center;
    justify-content: space-between;
    text-align: center;

} 
.btn {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: solid;
    outline: none;
    background-color: var(--light-dark);
  }
  .btn-inline {
    display: inline;
  }
  
