*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(58, 132, 170),rgb(7, 44, 87));
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;

}

.location, .temparature {
    height: 45vh;
    width: 50%;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}

.temparature {
    flex-direction: column;
}

.degree-area {
    display: flex;
    align-items: center;
    cursor: pointer;

}
.degree-area span {
    margin: 10px;
    font-size: 34px;
}
.degree-area h2 {
    font-size: 40px;
}